
CoreTest/.vs/CoreTest/v15/.suo
CoreTest/CoreTest/obj/Debug/netcoreapp2.1/CoreTest.assets.cache
CoreTest/.vs/CoreTest/v15/.suo
CoreTest/CoreTest/obj/CoreTest.csproj.nuget.cache
CoreTest/CoreTest/obj/CoreTest.csproj.nuget.g.props
CoreTest/CoreTest/obj/Debug/netcoreapp2.1/CoreTest.assets.cache
CoreTest/CoreTest/obj/Debug/netcoreapp2.1/CoreTest.csproj.CoreCompileInputs.cache
CoreTest/CoreTest/obj/project.assets.json
